<h3>Bonjour {{ user.firstName }} {{ user.lastName }}</h3>
<p>Veuilez cliquer <a href="{{ url('check-activation', {'token': user.token}) }}">ICI</a> pour <strong>activer</strong> votre compte.</p>
<p>Cordialement,</p>